*
!.gitignore
!hw_table_generator/
!hw_table_generator/**
!ip_repo
!ip_repo/**
!ariane_read_file.tcl
!debug.xdc
!download_moosehead.tcl
!download_triangle.tcl
!Makefile
!mig_a.prj
!newprj.tcl
!optbashrc.sh
!par.tcl
!README.md
!SUME_Master.xdc
!syn.tcl
!top_bd.tcl
!top_sim.sv
!top_syn.sv
!user.xdc
